

/*** Navbar ***/
.navbar {
  background-image: linear-gradient(to right, #feca1a, #feca1a);
}

.navbar-brand {
  padding-left: 10px;
  color: #000000 !important;
  font-weight: 600;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-nav a {
  margin-right: 15px;
  color: #000000 !important;
  font-weight: 600;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

         /*** card styles ***/

#itemCard {
  margin: 10px;
  max-width: 18rem;
  min-width: 10rem;
  min-height: 20rem;
    box-shadow: rgba(52, 58, 64, 0.1) 0px 20px 58.41px 0.59px;
    border: none;
    border-radius: 8px;
}

#itemCard .card-body {
  padding-right: 10px!important;
  padding-left: 10px!important;
}

#itemCard.card img{
  padding-top: 0;
  padding: 10px;
  max-height: 200px;
}

#itemCard.card .card-text  {
  color: #909090;
}

.card .btn {
  background: #feca1a;
  color: black;
  font-weight: 600;
  padding: 8px 10px;
  border: none;
  float: right;
}
.card .btn:hover {
  background: #cfd2d5;
  color: black;
}

.card .btn:active {
  outline: none !important;
  border: none !important;
  background: #cfd2d5;
  color: black;
}

#action-button {
  background: #feca1a;
  color: black;
  font-weight: 600;
  padding: 8px 10px;
  border: none;
  float: right;
}
#action-button:hover {
  background: #cfd2d5;
  color: black;
}

#action-button:active {
  outline: none !important;
  border: none !important;
  background: #cfd2d5;
  color: black;
  }