<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card" style="width: 15rem;">
            <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cat Shoes</h5>
                <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
                <div class="price">
                    <b>$ 100</b>
                    <a href="#" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card" style="width: 15rem;">
            <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cat Shoes</h5>
                <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
                <div class="price">
                    <b>$ 100</b>
                    <a href="#" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
    </div><div class="col-sm-6 col-md-3">
    <div class="card" style="width: 15rem;">
        <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cat Shoes</h5>
            <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
            <div class="price">
                <b>$ 100</b>
                <a href="#" class="btn btn-success">Add to Cart</a>
            </div>
        </div>
    </div>
    </div><div class="col-sm-6 col-md-3">
        <div class="card" style="width: 15rem;">
            <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cat Shoes</h5>
                <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
                <div class="price">
                    <b>$ 100</b>
                    <a href="#" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="card" style="width: 15rem;">
            <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cat Shoes</h5>
                <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
                <div class="price">
                    <b>$ 100</b>
                    <a href="#" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="card" style="width: 15rem;">
            <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Cat Shoes</h5>
                <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
                <div class="price">
                    <b>$ 100</b>
                    <a href="#" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
        </div>
    </div><div class="col-sm-6 col-md-3">
    <div class="card" style="width: 15rem;">
        <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cat Shoes</h5>
            <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
            <div class="price">
                <b>$ 100</b>
                <a href="#" class="btn btn-success">Add to Cart</a>
            </div>
        </div>
    </div>
</div><div class="col-sm-6 col-md-3">
    <div class="card" style="width: 15rem;">
        <img src="https://ae01.alicdn.com/kf/HTB1YqPJfwLD8KJjSszeq6yGRpXao/CAT-Footwear-Men-Classic-Genuine-Cow-Leather-Working-Casual-Safety-Shoes-For-Male-Ankle-Winter-Boots.jpg_640x640.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cat Shoes</h5>
            <p class="card-text">Lore ipsum the best footwear in the market now available in india</p>
            <div class="price">
                <b>$ 100</b>
                <a href="#" class="btn btn-success">Add to Cart</a>
            </div>
        </div>
    </div>
</div>
</div>